.header-img {
    background-image: url("images/desk.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-one {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-one {
    font-size: 75px;
    color: white;
    margin: 10px;
    margin-top: 150px;
}

.title-two {
    font-size: 25px;
    color: white;
    margin: 20px;
    margin-bottom: 75px
}

.nav-bar {
    display: flex;
    color: white;
    flex-direction: row-reverse;
    font-size: 15px;
    padding-right: 30px;
    padding-left: 900px;
}

.nav-list {
    display: flex;
    list-style-type: none;
    align-items: flex-end;

}

#about-item, #contact-item, #signup-item {
    margin: 10px;
}

#about {
    display: flex;
    justify-content: center;
    font-size: 18px;
}